$title_font: "Source Code Pro", monospace;
$body_font: "Open Sans", sans-serif;
$principal_color: #3040a0;
$contrast_color: #f0f0f0;
$default_padding: 20px;
$mobile_breakpoint: 721px;
$photo_size: 160px;
